* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 950px;
  margin: 0 auto;
}

body {
  height: 100vh;
}

.banner {
  min-height: 600px;
  background-image: url("../images/car.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 
  96dpi - 1x
  115dpi - 1.2x
  144dpi - 1.5x
  192dpi - 2x
  288dpi - 3x
*/

@media (min-resolution: 192dpi) {
  .banner {
    background-image: url("../images/car@2x.jpg");
  }
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.section {
  padding: 50px 0;
}

.footer {
  background-color: slategray;
  padding: 30px 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

.social-list__item-link {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.social-list__svg {
  width: 32px;
  height: 32px;
}

.social-list__item-link:hover .social-list__svg {
  fill: red;
  stroke: blue;
}

/* .social-list__item-link_facebook {
  background-image: url("../images/facebook.svg");
} */

/* .social-list__item-link_twitter {
  background-image: url("../images/twitter.svg");
}

.social-list__item-link_telegram {
  background-image: url("../images/telegram.svg");
} */

/* 
  block__element--modifier
  block__element_modifier

  block_modifier
  block__element_modifier

  block--modifier
  block__element--modifier
*/
